<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title_prefix -%}
			{% if 'wiki-name' in config %}{{ config['wiki-name']|e }} » {% endif %}
		{%- endblock %}
		{% block title -%}
			{{ title }}
		{%- endblock %}
	</title>

	<link
		rel='stylesheet'
		type='text/css'
		href='http://fonts.googleapis.com/css?family=Buenard:400,700&amp;subset=latin,latin-ext'>
	<link
		rel="stylesheet"
		type="text/css"
		href="{{ make_relative('/media/css/reset.css') }}">
	<link
		rel="stylesheet"
		type="text/css"
		href="{{ make_relative('/media/css/grimoire.css') }}">
</head>
<body>

<div id="shell">
	{% if crumbs %}
		<ol id="breadcrumbs">
			{% for name, href in crumbs %}
				<li class="crumb-{{ loop.index0 }} {% if loop.last %}last{% else %}not-last{% endif %}">
					{% if not href %}
						{{ name|e }}
					{% else %}
						<a href="{{ make_relative(href)|e }}">{{ name|e }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	{% endif %}

	{% block content %}
	{% endblock %}

	{% block footer %}
	<div id="footer">
		<p>Questions? Comments? Feedback? <a href="mailto:owen+blog@grimoire.ca">Email me</a>!</p>
		<p>
			{% if 'wiki-name' in config %}
				{{ config['wiki-name']|e }} —
			{% endif %}
			Powered by <a href="http://markdoc.org/">Markdoc</a>.
			{% block scm_info %}
				<a href="https://bitbucket.org/ojacobson/grimoire.ca">See it on Bitbucket</a>.
			{% endblock %}
		</p>
	</div>
	{% endblock %}
</div>
</body>
</html>
