{% extends 'base.html' %}

{% block content %}
	<div id="article">
		{{ content }}
	</div>
{% endblock %}

{% block scm_info %}
<a href="https://bitbucket.org/ojacobson/grimoire.ca/src/master/wiki/{{ path }}.md">See this page on Bitbucket</a> (<a href="https://bitbucket.org/ojacobson/grimoire.ca/history-node/master/wiki/{{ path }}.md">history</a>).
{% endblock %}
